body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #222;
    color: white;
}
h1 {
    font-size: 32px;
    color: #FF6347;
    margin-bottom: 20px;
}

p {
    font-size: 24px;
    margin: 10px 0;
    font-weight: bold;
}

