<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Termostato</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
  <h1>Stato Riscaldamento</h1>
  <p>Temperatura: <span id="temperature"></span> °C</p>
  <p>Umidità: <span id="humidity"></span> %</p>
  <p>Riscaldamento: <span id="heating_status"></span></p>

  <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>
